{% extends 'base_template.twig' %}

{% block page_content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1 class="text-center">{{ message }}</h1>
                    {% if score == 0 %}
                        <p class="text-center">Nobody cares about me.</p>
                        {% elif score == -1 %}
                        <p class="text-center">Wow... I've been disliked {{ score }} time.</p>
                        {% elif score < -1 %}
                        <p class="text-center">Wow... I've been disliked {{ score }} times.</p>
                        {% elif score == 1 %}
                        <p class="text-center">I have been liked {{ score }} time.</p>
                    {% else %}
                        <p class="text-center">I have been liked {{ score }} times.</p>
                    {% endif %}
                    <p class="text-center small">
                        <small>
                            Want to reset the counter? Click <a href="{% url 'reset' %}" type="button"
                                                                class="btn btn-xs btn-danger">here</a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group btn-group-lg" role="group" aria-label="button-counter">
                        <a href="{% url 'like' %}" type="button" class="btn btn-info">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        </a>
                    </div>
                    <div class="btn-group btn-group-lg" role="group" aria-label="button-counter">
                        <a href="{% url 'dislike' %}" type="button" class="btn btn-info">
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}